<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret</key>
	<string>Y8EcOFwli450KfH7V9qrg1SOvm5xezZU0vFpf9cuBY7M7QMJd4</string>
	<key>API Key</key>
	<string>kHGsfU6sXIc11GGJipVhEIRru</string>
</dict>
</plist>
